
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<h1 style="color: crimson; font-size:90px;">Coming Soon!!</h1>

@*      Set up logic
    
    <form asp-controller="Home" asp-action="Search">
    <p>
    <p>
        <label for="Search">Search by</label>

        <select name="Search" id="Search" required>
            <option value="Title">Title</option>
            <option value="Genra">Genra</option>
            <option value="Year">Year</option>
            <option value="Actor">Actor</option>
            <option value="Director">Director</option>
            <option value="ID">ID</option>
        </select>
    </p>
    <input type="text" name="input"/>

</form>*@
